@page "/bookings/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Car Bookings</h3>
<br />
@if (Bookings == null)
{
	<div class="alert alert-info">Loading Bookings...</div>
}
else
{
	<table class="table table-responsive">
		<thead>
			<tr>
				<th>Booking Id</th>
				<th>Customer License</th>
				<th>Date</th>
				<th>Duration in days</th>
				<th>Plate Number</th>
				<th>Actions</th>
			</tr>
		</thead>
	</table>
}

@code {
	private List<Booking>? Bookings;

	protected async override Task OnInitializedAsync()
	{
		Bookings = await _client.GetFromJsonAsync<List<Booking>>($"{Endpoints.BookingsEndpoint}");
	}

	async Task Delete(int bookingId)
	{
		if(Bookings != null)
		{
			var booking = Bookings.First(q => q.Id == bookingId);
			var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {booking.Id}?");
			if (confirm)
			{
				await _client.DeleteAsync($"api/makes/{bookingId}");
				await OnInitializedAsync();
			}
		}
	}

}
